<ion-view view-title="Ajuda">


    <ion-content class="fundo">
        <ion-side-menus>
            
            <ion-side-menu-content class="fundo padding">

                <ion-content scroll="false">
                    <ion-header-bar class="bar-positive">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			              </button>
                        <h1 class="title ">Ajuda</h1>
                    </ion-header-bar>

                    <div style="height: 35px "></div>
                    
                    
                </ion-content>




                

    </ion-content>
</ion-view>