<ion-view view-title="Cadastro">
    


    <ion-content class="padding">
        
        <div id="error-box" class="row cadastro-errors" ng-if="(cadastro.nm_turista.$touched || cadastro.$submitted) && cadastro.nm_turista.$invalid || (cadastro.dataNasc.$touched || cadastro.$submitted) && cadastro.dataNasc.$invalid || (cadastro.email.$touched || cadastro.$submitted) && cadastro.email.$invalid || (cadastro.senha.$touched || cadastro.$submitted) && cadastro.senha.$invalid || (cadastro.conSenha.$touched || cadastro.$submitted) && cadastro.conSenha.$invalid">
                <div class="col col-25 alert-box">
                    <img class="alert-msg" src="img/alert.png" ></img>
                </div>
                <div class="col">
                    <p class="title-cadastro-errors"><b>Atenção!</b> Corrija os seguintes erros.</p>
                    <div class="cadastro-error" ng-if="(cadastro.nm_turista.$touched || cadastro.$submitted) && cadastro.nm_turista.$invalid">
                        <div ng-show="cadastro.nm_turista.$error.required">• O nome é obrigatório.<br></div>
                        <div class="cadastro-error" ng-show="cadastro.nm_turista.$error.pattern" >• Valido apenas letras para nome.</div>
                    </div>
                    <div class="cadastro-error" ng-if="(cadastro.dataNasc.$touched || cadastro.$submitted) && cadastro.dataNasc.$invalid">• O nascimento é obrigatório.<br></div>
                    <div ng-messages="cadastro.email.$error" ng-if="cadastro.email.$touched || cadastro.$submitted">
                        <div class="cadastro-error" ng-show="cadastro.email.$error.required" >• O email é obrigatório.<br></div>
                        <div class="cadastro-error" ng-show="cadastro.email.$error.email" >• Insira um email válido.<br></div>
                    </div>
                    <div ng-messages="cadastro.senha.$error" ng-if="cadastro.senha.$touched || cadastro.$submitted">
                        <div class="cadastro-error" ng-show="cadastro.senha.$error.required" >• A senha é obrigatória.<br></div>
                        <div class="cadastro-error" ng-show="cadastro.senha.$error.pattern" >• Não é permitido caracteres especiais na senha.</div>
                        <div class="cadastro-error" ng-show="cadastro.senha.$error.minlength" >• Minimo 8 letras.<br></div>
                        <div class="cadastro-error" ng-show="cadastro.senha.$error.maxlength" >• Maximo de 16 letras.<br></div>
                        
                    </div>
                    <div id="confirm-pw-block" ng-messages="cadastro.conSenha.$error" ng-if="cadastro.conSenha.$touched || cadastro.$submitted">
                        <div class="cadastro-error" ng-show="cadastro.conSenha.$error.required" >• A confirmação de senha é obrigatória.<br></div>
                        <div class="cadastro-error" ng-show="cadastro.conSenha.$error.pattern" >• Confirmação de senha inválida.<br></div>
                    </div>
                </div>
        </div>
            

       
        <div class="list">
            <form name="cadastro" ng-submit="cadastro.$valid && cadastrarTurista(usuario)" novalidate>
                <label class="item item-input input-cadastro item-floating-label " ng-class="{ 'has-error' : (cadastro.nm_turista.$touched || cadastro.$submitted) && cadastro.nm_turista.$invalid }">
                    <span class="input-label color-gray" >Nome</span>
                    <input placeholder="Nome"  name="nm_turista" ng-model="usuario.nm_turista" ng-pattern="/^[a-zA-ZÀ-ú\s]+$/" type="text"  required>
                </label>
                

                

                <label class="item item-input input-cadastro item-floating-label" ng-class="{ 'has-error' : (cadastro.dataNasc.$touched || cadastro.$submitted) && cadastro.dataNasc.$invalid}">

                    <span class="input-label color-gray" >Data de nascimento</span>
                    <input placeholder="Data de Nascimento" type="text" onfocus="(this.type='date')"  name="dataNasc" ng-model="usuario.dt_nascimento" required>
                </label>
                

                <label class="item item-input input-cadastro item-floating-label" ng-class="{ 'has-error' : (cadastro.email.$touched || cadastro.$submitted) && cadastro.email.$invalid}">
                    <span class="input-label color-gray" >Email</span>
                    <input placeholder="Email" maxlength="150" name="email" ng-model="usuario.email" type="email" required>
                </label>
                
 
                <label class="item item-input input-cadastro item-floating-label" ng-class="{ 'has-error' : (cadastro.senha.$touched || cadastro.$submitted) && cadastro.senha.$invalid}">
                    <span class="input-label color-gray" >Senha</span>
                    <input placeholder="Senha"  ng-minlength="8" ng-maxlength="16" id="senha" maxlength="17" ng-model="usuario.password" name="senha" type="password" ng-pattern="/^[a-zA-Z0-9._@-]+$/"  required>
                </label>
                

                <label class="item item-input input-cadastro item-floating-label" ng-class="{ 'has-error' : (cadastro.conSenha.$touched || cadastro.$submitted) && cadastro.conSenha.$invalid}">
                    <span class="input-label color-gray" >Confirmar senha</span>
                    <input placeholder="Confirmar Senha" ng-pattern="usuario.password" maxlength="17"  ng-model="confirmaSenha"   name="conSenha" type="password"    required>
                </label>
                
                <button class="button button-positive button-full button-gradient" type="submit" >Finalizar</button>
            </form>
        </div>
    </ion-content>
</ion-view>