<ion-view>
    <ion-content class="fundo padding">
        <div class="list">

            <label class="item item-input">
                <span class="input-label">NOME</span>
                <input ng-model="usuario.nm_turista" type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">CPF</span>
                <input ng-model="usuario.cd_cpf" type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">Data de nascimento</span>
                <input ng-model="usuario.dt_nacimento" type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">E-MAIL</span>
                <input ng-model="usuario.email" type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">SENHA</span>
                <input ng-model="usuario.password" type="password">
            </label>

            <label class="item item-input">
                <span class="input-label">CONFIRMAR SENHA</span>
                <input ng-model="usuario.confirmaSenha" type="password">
            </label>

            <button class="button button-full button-positive" ng-click="cadastrarTurista(usuario)">FINALIZAR</button>
        </div>
    </ion-content>
</ion-view>