<ion-view view-title="Cupom" hide-back-button="true">
  <ion-content scroll="false">
    <div class="list" >
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper" style="font-size:20px">
            <i class="icon ion-ios-search placeholder-icon" ></i>
            <input type="search"  ng-model="$parent.search.nm_oferta"  placeholder="Search">
        </label>
        <button class="button button-clear" ng-if="search" style="color:grey;" ng-click="clearfunction()" >
          Cancelar
        </button>
      </div>
    </div>
  </ion-content >
  <ion-content style="margin-top:43px">
    
    <div class="list">
      <div>
        <div id="error-cupom" class="error-cupom-none">Não conseguimos encontrar nenhum cupom.</div>
        <a class="item item-icon-left item_cpm"  ng-repeat="cupom in cupons  | filter:search | limitTo:listlength" ng-model="Cupom" ng-click="Cupom = !Cupom;" >
          <i class="icon ion-ios-pricetag-outline" ></i>
          {{ cupom.nm_oferta }}
          <span class="badge badge-balanced" style="transition:0.5s;" id="count-{{cupom.count}}"><ion-spinner class="spinner-loading spinner-light"></ion-spinner></span>
          <div ng-if="Cupom">
            <br>
            <p >Descrição: {{ cupom.ds_oferta }}</p>
            <br>
            <p >Código: {{ cupom.cd_cupom }}</p>
            <br>
          </div>
        </a>
      </div>
    </div>
    <ion-infinite-scroll ng-if="listlength<=cupons.length" on-infinite="loadMore()" distance="3%"></ion-infinite-scroll>
    <br><br>
  </ion-content>
</ion-view>
