

<ion-view view-title="Cupom">
    <ion-content class="fundo" onclick="hideTabs()">
        <ion-side-menus>
            <!-- Left menu -->

            <ion-side-menu-content class="fundo padding">

                <ion-content>
                    <ion-header-bar align-title="center" class="bar-dark header-nice">

                        <h1 class="title ">Cupons</h1>
                    </ion-header-bar>

                    
                    
                    <div class="list">

                        
                        <div class="bar bar-header item-input-inset">
                          <label class="item-input-wrapper">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input type="search" placeholder="Procurar cupom">
                          </label>
                        </div>
                        
                        <br>
                        <div>
                          <a class="item item-icon-left item_cpm" ng-model="Cupom1"  ng-click="Cupom1 = !Cupom1;">
                            <i class="icon ion-pricetags"></i>
                            Netuno
                            <span class="badge badge-assertive">12:15h</span>
                            <div ng-if="Cupom1">
                              
                              <h1>Sorveteria</h1>
                              <p>Uma casquinha de graça.</p>
                              <button class="button button-nature" ng-click="showConfirm()">
                                Validar para esta oferta
                              </button>
                              <br><hr>
                              <h1>Bar</h1>
                              <p>Desconto de 20% em consumo até R$50,00</p>
                              <button class="button button-nature" ng-click="showConfirm()">
                                Validar para esta oferta
                              </button>
                              <br><br>
                            </div>
                          </a>


                          <a class="item item-icon-left item_cpm" ng-model="Cupom2" ng-click="Cupom2 = !Cupom2;">
                            <i class="icon ion-pricetags"></i>
                            Iemanja
                            <span class="badge badge-assertive">16:59h</span>
                            <div ng-if="Cupom2">
                              
                              <h1>Sorveteria</h1>
                              <p>Uma casquinha de graça.</p>
                              <button class="button button-nature" ng-click="showConfirm()">
                                Validar para esta oferta
                              </button>
                              <br><hr>
                              <h1>Bar</h1>
                              <p>Desconto de 20% em consumo até R$50,00</p>
                              <button class="button button-nature" ng-click="showConfirm()">
                                Validar para esta oferta
                              </button>
                              <br><br>
                            </div>
                          </a>

                          <a class="item item-icon-left item_cpm" ng-model="Cupom3" ng-click="Cupom3 = !Cupom3;">
                            <i class="icon ion-pricetags"></i>
                            Forte
                            <span class="badge badge-assertive">23:12h</span>
                            <div ng-if="Cupom3">
                              
                              <h1>Sorveteria</h1>
                              <p>Uma casquinha de graça.</p>
                              <button class="button button-nature" ng-click="showConfirm()">
                                Validar para esta oferta
                              </button>
                              <br><hr>
                              <h1>Bar</h1>
                              <p>Desconto de 20% em consumo até R$50,00</p>
                              <button class="button button-nature" ng-click="showConfirm()">
                                Validar para esta oferta
                              </button>
                              <br><br>
                            </div>
                          </a>

                           

                        






                    </div>


                        

                     <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>   

                </ion-content>
            </ion-side-menu-content>
        </ion-side-menus>
    </ion-content>
</ion-view>
