<ion-view view-title="Home" hide-back-button="true">
    <ion-content>
                <ion-content scroll="false">
                    <map id="map" on-create="mapCreated(map)"></map>

                    <div id="rota-box" class="rota-box centralizar">
                      <span class="ion-close fecharRota" ng-click="clearRota()"></span>
                      
                      <span id="nm-ponto" class="nm-ponto "></span><br>
                      <p id="distanceRota" class="distanceRota"></p>
                    </div>
                </ion-content>
    </ion-content>
</ion-view>