<ion-view view-title="Home" >


    <ion-content class="fundo" >
        <ion-side-menus>
            <!-- Left menu -->
            

            <ion-side-menu-content class="fundo padding" >

                <ion-content scroll="false">
                    <ion-header-bar align-title="center" class="bar-dark header-nice">
                        <h1 class="title">ENCONTRE OS PONTOS!</h1>

                        <!--<div class="icon ion-settings edit-perfil" ></div>-->
                    </ion-header-bar>

                    <!--<ul>
                        <li ng-repeat="ponto in pontos">
                          {{ponto.lat}} - <em>{{ponto.lgn}}</em>
                        </li>
                      </ul>-->
                      <!--<button class="pontos" ng-click="modal.show()"><img src="img/flag.png" class="flag" height="80%" width="80%"></button>-->
                    
                      <button  class="button button-pontos ion-search" ng-click="modal.show()"></button>

                      <script id="templates/modal.html" type="text/ng-template">
                        <ion-modal-view>
                          <ion-header-bar align-title="center" class="bar bar-header bar-positive">
                            <h1 class="title">Pontos Turisticos</h1>
                            <button class="button button-clear button-primary ion-close" ng-click="modal.hide()"></button>
                          </ion-header-bar>
                          <ion-content class="padding">
                            <div class="list">
                              <ion-radio ng-repeat="item in ListaDePontos">
                                {{ item.text }}
                              </ion-radio>
                            </div>
                          </ion-content>
                          <ion-footer-bar><button class="button button-full button-positive criar-rota"  >Criar rota</button></ion-footer-bar>
                        </ion-modal-view>
                      </script>
                    <map id="map" on-create="mapCreated(map)"><div id="class" ng-repeat="marker in markers | orderBy : 'title'">

    {{marker.position}}
  </div></map>
                </ion-content>


    </ion-content>
</ion-view>