<ion-view view-title="Ofertas" hide-back-button = "false">
    <ion-content>
        <div class="list" >
            <div >
                <a class="item item-icon-left item_oferta"  ng-model="Oferta" ng-repeat="x in ofertaJson" ng-click="Oferta = !Oferta">
                        <i class="icon ion-bag"></i>
                        {{ x.nm_oferta }}
                        <span class="badge badge-gradient"><span  ng-if="!Oferta">Mais</span><span ng-if="Oferta">Menos</span></span>
                        <div ng-if="Oferta">
                            <br>
                            <p >Descrição: {{ x.ds_oferta }}</p>
                            <br>
                            <button class="button button-positive button-oferta" ng-click="showConfirm($index)">
                                Validar para esta oferta
                            </button>
                        </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>