<ion-view  hide-nav-bar="true">
    <ion-slide-box auto-play="true" does-continue="true"  class="background-box" style="height:100%; background-color:black;" >
          <ion-slide class="login-background login-background1"></ion-slide>
          <ion-slide class="login-background login-background2"></ion-slide>
          <ion-slide class="login-background login-background3"></ion-slide>
        </ion-slide-box>
    <ion-content  scroll="true" >
        <div ng-controller="LoginCtrl" class="login-content">
                            <div class="centralizar logo-nice">
                                <img src="img/Logo.png" width="50%;"></img>
                            </div>
                <div class="container-login">
                    <div class="list">
                        <center>
                            <label class="item item-input item-login">
                                <input type="text" placeholder="Login" ng-model="usuario.login" class="centralizar">
                            </label>
                            <label class="item item-input item-login">
                                <input type="password" placeholder="Senha" ng-model="usuario.senha" class="centralizar">
                            </label>
                        </center>
                    </div>
                    <div class="centralizar"><span id="error"></span></div>
                    <div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" id="login__submit" class="login__submit" ng-click="login(usuario)">Login</button>
                            </div>
                        </div>
                    </div>
                    <div class="frase-cadastrar">
                        Não tem conta ainda?
                        <a class="link-cadastrar" ng-click="cadastro()">
                            Cadastre-se
                        </a>
                    </div>
                </div>
        </div>
    </ion-content>
</ion-view>
