<ion-view title="Login">
    <ion-content class="fundo">
        <div ng-controller="loginCtrl">
            <div style="height: 60%">
                <img src="../img/mappa_google.png" class="icon">
            </div>

            <div style="height: 15%;">
                <div class="list">
                    <center>
                        <label class="item item-input">
                            <span class="input-label">Usuário</span>
                            <input type="text" ng-model="usuario">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Senha</span>
                            <input type="password" ng-model="senha">
                        </label>
                    </center>
                </div>
            </div>
            
            <div style="height: 10%;">
                <button class="button button-full button-nature" ng-click="login()">
                        ENTRAR
                </button>
            </div>
        </div>

        <div ng-controller="">
            <a href="/#/cadastro" class="button button-full button-nature">
                    CRIAR CONTA
            </a>
        </div>

    </ion-content>
</ion-view>
