<ion-view id="view-perfil" view-title="Perfil" hide-back-button="true" >
    
                <ion-content>
                    <div class="item box-info-perfil">
                            <div class="config-perfil">
                                <span class="ion-ios-gear" ng-click="popover.show($event)"></span>
                            </div>
                            <script id="templates/popover.html" type="text/ng-template">
                              <ion-popover-view style="text-align:center;margin-top:0px;">
                                <ion-content>
                                  <div class="list">
                                    <a class="item item-config-perfil" ui-sref="editarPerfil" ng-click="hidePopover();">
                                      Editar Perfil
                                    </a>
                                    <a class="item item-config-perfil" ui-sref="trocarSenha" ng-click="hidePopover();">
                                      Trocar senha
                                    </a>
                                    <a class="item item-config-perfil" ui-sref="ajuda" ng-click="hidePopover();">
                                      Ajuda
                                    </a>
                                    <a class="item item-config-perfil" ui-sref="sobre" ng-click="hidePopover();">
                                      Sobre
                                    </a>
                                    <a class="item item-config-perfil item-sair-perfil" ng-click="logoutPopup()" >
                                      Sair
                                    </a>
                                  </div>
                                </ion-content>
                              </ion-popover-view>
                            </script>
                            <div class="centralizar"><img src="{{ turista_img }}"  class="img_avatar"></div>
                            <div class="centralizar"><span class="nm_perfil">
                                {{ nome_perfil }}
                            </span></div>
                            <div class="centralizar"><span class="email_perfil">
                                {{ email_perfil }}
                            </span></div>
                    </div>
</ion-view>