<ion-view view-title="Perfil">


    <ion-content>
        
            <!-- Left menu -->


                <ion-header-bar align-title="center" class="bar-dark header-nice">
                        <h1 class="title ">Perfil</h1>
                    </ion-header-bar>

                <ion-content scroll="true">
                
                    <div class="item">
                        <img src="img/avatar.png" class="img_avatar" style="border-radius: 0px; position: relative; float: left; width: 30%; height: 30%;">
                        <span style="padding: 20px">
                            USUÁRIO
                        </span>
                        <br>
                        <br>
                        <span style="padding: 20px">
                            PONTOS
                        </span>
                    </div>
                
                    <div class="teste22">
                <button class="button button-full button-assertive icon-right ion-log-out" id="button-exit" onclick="document.getElementById('idTabs').style.display='none'; " ui-sref="login">Sair</button>
                    </div>
                
            </ion-content>
    </ion-content>
</ion-view>