<ion-view id="view-perfil" view-title="Perfil" hide-back-button="true" hide-nav-bar='hideHeaderOnLogout'>
    
                <ion-content>
                    <div class="item">
                        <img src="img/avatar.png" class="img_avatar" style="border-radius: 0px; position: relative; float: left; width: 30%; height: 30%;">
                        <span id="nm_perfil" style="padding: 20px">
                            {{ infoPerfil }}
                        </span>
                        <br>
                        <br>
                    </div>
                    <div style="text-align: center;">
                                <button type="button" id="logout_btn" class="logout_btn button-full" ng-click="logoutPopup()">Sair</button>
                    </div>
      
            </ion-content>
    
</ion-view>