<ion-view view-title="Quiz" hide-back-button = "false">
                <ion-content>
                <div class="box-contdown-quiz">
                    <span id="idcountdown" class="contdown-quiz"></span>
                </div>
                
                <div class="card">

                            <div class="item item-text-wrap">
                                        
                                        <h2>{{ perguntasQuiz[0] }}</h2>
                                        <hr>
                                        <form ng-Submit="finalizaQuiz(choice) && modal.show()">
                                            <ion-list radio-group>
                                                <ion-radio ng-model="choice" ng-value='1'>{{ perguntasQuiz[1] }}</ion-radio>
                                                <ion-radio ng-model="choice" ng-value='2'>{{ perguntasQuiz[2] }}</ion-radio>
                                                <ion-radio ng-model="choice" ng-value='3'>{{ perguntasQuiz[3] }}</ion-radio>
                                                <ion-radio ng-model="choice" ng-value='4'>{{ perguntasQuiz[4] }}</ion-radio>
                                                <ion-radio ng-model="choice" ng-value='5'>{{ perguntasQuiz[5] }}</ion-radio>
                                            </ion-list>
                                            <br>
                                            <center>
                                                <button type="submit"  class="button button-positive">
                                                Finalizar
                                            </button>
                                            </center>
                                        </form>
                            </div>
                        </div>
                </ion-content>
                </div>
                <script id="template/cupom-modal.html" type="text/ng-template">
                        <ion-modal-view>
                          <ion-header-bar align-title="center" class="bar bar-header bar-positive">
                            <h1 class="title">Cupom</h1>
                            <button class="button button-clear button-primary ion-close" ng-click="modal.hide()"></button>
                          </ion-header-bar>
                          <ion-content class="padding">
                            <div class="list">
                              <ion-radio ng-repeat="item in ListaDePontos">
                                {{ item.text }}
                              </ion-radio>
                            </div>
                          </ion-content>
                          <ion-footer-bar><button class="button button-full button-positive criar-rota"  >Criar rota</button></ion-footer-bar>
                        </ion-modal-view>
                </script>
</ion-view>