<ion-view view-title="Rank">


    <ion-content class="fundo2">
             
        <ion-content scroll="false">
            <ion-header-bar align-title="center" class="bar-positive">
                <h1 class="title ">Rank</h1>
            </ion-header-bar>
        </ion-content>          

        <ul class="list rank-global">
            <li class="item podium">
                <i class="icon ion-trophy rank1"></i>
              <i class="teste">Numero 1<i>
            </li>
            <li class="item podium">
                <i class="icon ion-trophy rank2"></i>
              Numero 2
            </li>
            <li class="item podium">
                <i class="icon ion-trophy rank3"></i>
              Numero 3
            </li>
            <li class="item">
              Numero 4
            </li>
            <li class="item">
              Numero 5
            </li>
            <li class="item">
              Numero 6
            </li>
        </ul>
    </ion-content>
</ion-view>