<ion-view view-title="Sobre" hide-back-button = "false">
    <ion-content>
        <p>Uma Startup que respira trabalho e inovação, a Nice2Meet surgiu no ano de 2017 na Faculdade de Tecnologia de Praia Grande, idealizada por quatro jovens estudantes do curso de Analise e Desenvolvimento de Sistemas.</p>

		<p>Para superar o déficit em incentivo ao turismo e a cultura regional, esta aplicação guiará os usuários pelos pontos turísticos da região litorânea de São Paulo e através de parcerias com os estabelecimentos comerciais, incentivará a economia nesta região.</p>

		<p>Nice2Meet, inovação que aproxima.</p>

    </ion-content>
</ion-view>