<ion-tabs  class = "tabs-icon-only tabs-icon-top ">
					
					<!-- Está como hide, pois necessita dele para o login ser a primeira pagina -->
					          <ion-tab title = "Sair"  class="hide " icon-on = "ion-log-out" 
                      icon-off = "ion-log-out" ui-sref="login"></ion-tab>
				            
                   	<ion-tab title = "Home"  class="ripple-button" icon-on = "ion-ios-home" 
                      icon-off = "ion-ios-home-outline" ui-sref="home"><div class="wave1"></div></ion-tab>

                   	<ion-tab title = "Perfil" class="ripple-button" icon-on = "ion-ios-contact" 
                      icon-off = "ion-ios-contact-outline" ui-sref="perfil"><div class="wave1"></div></ion-tab>

                   	<ion-tab title = "Cupons" class="ripple-button" icon-on = "ion-ios-pricetags" 
                      icon-off = "ion-ios-pricetags-outline" ui-sref="cupom"><div class="wave1"></div></ion-tab>

                  
                                    
</ion-tabs>