<ion-tabs  class = "tabs-icon-only tabs-nice">
  	<ion-tab title = "Sair"  class="hide " icon-on = "ion-log-out" 
      icon-off = "ion-log-out" ui-sref="login"></ion-tab>
      <ion-tab title = "Tutorial"  class="hide " icon-on="ion-log-out" 
      icon-off = "ion-log-out" ui-sref="tutorial"></ion-tab>
    <ion-tab title = "Home" icon-on = "ion-ios-home" 
      icon-off = "ion-ios-home" ui-sref="home"></ion-tab>
    <ion-tab title = "Perfil"  icon-on = "ion-person" 
      icon-off = "teste ion-person" ui-sref="perfil"></ion-tab>
    <ion-tab title = "Cupons"  icon-on = "ion-pricetags" 
      icon-off = "ion-pricetags" ui-sref="cupom"></ion-tab>                  
</ion-tabs>