<ion-view view-title="Trocar senha">
<ion-content>
        <div class="list">
            <form name="cadastro" ng-submit="cadastro.$valid && cadastrarTurista(usuario)" novalidate>
                              
                <label class="item item-input input-cadastro" ng-class="{ 'has-error' : (cadastro.senha.$touched || cadastro.$submitted) && cadastro.senha.$invalid}">
                    <input placeholder="Senha atual"  ng-minlength="8" ng-maxlength="16" id="senha" maxlength="17" ng-model="senha_turista" name="senha" type="password" ng-pattern="/^[a-zA-Z0-9._@-]+$/"  required>
                </label>

                <label class="item item-input input-cadastro" ng-class="{ 'has-error' : (cadastro.senha.$touched || cadastro.$submitted) && cadastro.senha.$invalid}">
                    <input placeholder="Nova senha"  ng-minlength="8" ng-maxlength="16" id="senha" maxlength="17" ng-model="senha_turista" name="senha" type="password" ng-pattern="/^[a-zA-Z0-9._@-]+$/"  required>
                </label>
                

                <label class="item item-input input-cadastro" ng-class="{ 'has-error' : (cadastro.conSenha.$touched || cadastro.$submitted) && cadastro.conSenha.$invalid}">
                    <input placeholder="Confirmar nova senha" ng-pattern="usuario.password" maxlength="17"  ng-model="usuario.confirmaSenha"   name="conSenha" type="password"    required>
                </label>
                
                <div style="width:50%;float:left;">
                    <button class="button button-full button-assertive" type="cancel" ui-sref="perfil" >Cancelar</button>  
                </div>
                <div style="width:50%;float:left;">
                    <button class="button button-full button-balanced" type="submit" >Salvar</button>
                </div>
            </form>
        </div>
        

        
        
    
</ion-content>
    
</ion-view>