<ion-view view-title="HOME">


    <ion-content class="fundo">
        <ion-side-menus>
            <!-- Left menu -->
            <ion-side-menu side="left">


                <ion-content scroll="false">
                    <div class="list">

                        <a class="item" href="#">
                            <div>
                                <img src="../img/avatar.png" style="border-radius: 70px; position: relative; float: left; width: 20%; height: 20%;">
                                <span style="padding: 20px">
                                        USUÁRIO
                            </span>
                                <br>
                                <br>
                                <span style="padding: 20px">
                                        PONTOS
                            </span>
                            </div>
                        </a>

                        <ion-item nav-clear menu-close ui-sref="home">
                            <i class="icon ion-navigate"></i> Mapa Turístico
                        </ion-item>

                        <ion-item nav-clear menu-close ui-sref="pontosturisticos">
                            <i class="icon ion-flag"></i> Pontos Turísticos
                        </ion-item>

                        <ion-item nav-clear menu-close ui-sref="cupom">
                            <i class="icon ion-pricetags"></i> Cupons
                        </ion-item>

                        <ion-item nav-clear menu-close style="color: lightslategray">
                            <i class="icon ion-help-circled"></i> Ajuda
                        </ion-item>

                        <ion-item nav-clear menu-close ui-sref="login" style="color: red">
                            <i class="icon ion-android-walk"></i>
                            <span>Sair</span>
                        </ion-item>
                    </div>
                </ion-content>
            </ion-side-menu>

            <ion-side-menu-content class="fundo padding">

                <ion-content scroll="false">
                    <ion-header-bar class="bar-positive">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			              </button>
                        <h1 class="title ">ENCONTRE OS PONTOS!</h1>
                    </ion-header-bar>

                    <div style="height: 35px "></div>
                    
                    <map on-create="mapCreated(map)" style="height: 95%; width: 100%"></map>
                </ion-content>




                <ion-footer-bar class="bar-stable ">
                    <a ng-click="centerOnMe() " class="button button-icon icon ion-navigate "></a>
                </ion-footer-bar>

    </ion-content>
</ion-view>