.header-nice{
    background-color: #0f113a !important;
    border-bottom: 0px solid #fff !important;
}
.background-box{
  height: 100%;
  background-color: black;
}
.background-box .slider-pager{
display:none;
}
.login-background{
    background-size: auto 100%; 
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    opacity: 0.3;
}
.login-background1 {
    background-image: url('../img/bg1.jpg');
}
.login-background2 {
    background-image: url('../img/bg2.jpg');
}
.login-background3 {
    background-image: url('../img/bg3.jpg');
}
.centralizar{
    text-align: center !important;
}
#map {
    display: block;
    width: 100%;
    height: 100%;
}
#error {
    text-align: center;
    font-size: 20px;
    color: white;
}
.cadastro-error {
    text-align: left;
    font-size: 12px;
    color: #333;
    margin: 0;
    margin-left: 5px;
}
.cadastro-errors{
    background-color: #e8abab;
    border-left: 5px solid #d63737;
    margin-left: 0px;
}
.title-cadastro-errors{
    font-size: 12px;
    margin: 0
}
label.item.has-error {
    border: 1px solid #fff;
  border-left: 0px solid #d63737;

  background-color: #f7d4d4;
}
.input-cadastro{
    margin-left: 0.5px;
}
.img_avatar, .img_ponto {
    border: 0px solid #ddd;
    border-radius: 8px;
    padding: 0px;
    width: 250px;
}
.item-login input{
    border: 1px solid white;
    border-radius: 200px;
    background-color: #fff;
    margin: 0;
    margin-top: 0px; 
    height: 40px !important;
    padding-right: 0px;
}
.item-login{
    border: 0px;
    height: 60px !important;
    padding-left: 0px !important;
    background-color: transparent;
    max-width: 80%;
    margin-top: 0px;
}
.item_cpm{
    margin-bottom: 5px;
}
.tabs{
    background-color: rgba(15, 17, 58, 0.9);
    border-top: 0px solid #fff;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.tab-item{
    color:#bbb;
    background-color: transparent;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
            transition:0.5s;
}
.tab-item.tab-item-active {
    position: relative;
    color: #fff;
    overflow: hidden;
    border: 0px;
    -webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
         -o-transform: scale(1.0);
            transform: scale(1.0);
            transition:0.5s;
}
.gmnoprint a, 
.gmnoprint span, 
.gm-style-cc, 
.gmnoprint div {
    display: none;
}
.icon-pontos{
    font-size: 150%;
    color: #444;
}
.pontos:after{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,.1)));
    background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,.1) 100%);
}
.modal{
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    border-radius: 10px;
}
.modal-wrapper{
  position:absolute !important;
  width: 80%;
  height:50%;
  top:0 !important; 
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}
.modal .backdrop{
  display:block !important;
}
.criar-rota{
    margin-top: 0 !important;
}
.button-pontos, .button-pontos:hover{
    position: absolute;
    margin-top: 1%;
    right: 7px;
    background-color: rgba(15, 17, 58, 0.7);
    z-index: 99;
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-style: bold;
}
.button-pontos:active, .button-pontos:focus{
    color: #aaa;
    background-color: rgba(15, 17, 58, 0.7);
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
            transition:0.4s;
}
.frase-cadastrar{
    color: #fff;
    text-align: center;
}
.link-cadastrar{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.alert-box{
    position: relative;
    min-height: 100px;
}
.alert-msg{
    position: absolute;
    width:90%;
    height:auto;
    vertical-align: middle;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login-box{
  position: relative;
}
.login-content{
  position: absolute;
    width:90%;
    vertical-align: middle;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo-nice{
  margin-bottom: 15%;
}
.login__submit {
  position: relative;  height: 3rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #FF3366;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  background-color: rgba(33, 150, 243, 1);
    border-radius: 300px;
    width: 85%;
    padding: 0px;
    margin-top: 0px;
    color:white;
    border: 0px;
}
.login__submit:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.0rem;
  margin-top: -1.0rem;
  width: 2rem;
  height: 2rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity 0.1s 0.4s;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
}
.login__submit.processing {
  width: 3rem;
  font-size: 0;
}
.login__submit.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
          animation: rotate 0.5s 0.4s infinite linear;
}
.login__submit.success {
    z-index: 99;
  -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
          transform: scale(30);
  opacity: 1;
}
.login__submit.success:after {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
.logout_btn {
  position: relative;  height: 3rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #ef4e3a;
  font-size: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    width: 85%;
    padding: 0px;
    margin-top: 0px;
    color:white;
    border: 0px;
    display: inline-block;
}
.logout_btn.processing {
  width: 3rem;
  font-size: 0;
  border-radius: 3rem;
}
.logout_btn.success {
    z-index: 99;
  -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
          transform: scale(30);
  opacity: 1;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
