.header-nice{
   background: rgba(30,30,30,1) !important;
background-image: -moz-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,0,71,0.5)), color-stop(100%, rgba(44,52,199,0.5)));
background-image: -webkit-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -o-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -ms-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32b8d', endColorstr='#23326b', GradientType=1 );
    border-top: 0px solid #fff;
       border-bottom: 0px solid #fff !important;
}
.header-tutorial{
  background: #eee !important;
    border-top: 0px solid #fff;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    box-shadow: 0px -5px 5px rgba(0,0,0,0.2);
  border-top: 0px solid #999 !important;
  bottom: 0 !important;
  
}
.header-tutorial button{
  background: rgba(0,0,0,0.6) !important;
  background-image: -webkit-linear-gradient(-45deg, rgba(227,43,141,0.5) 0%, rgba(235,30,204,0.5) 20%, rgba(211,19,240,0.5) 40%, rgba(43, 64, 219,0.8) 75%, rgba(7, 35, 242,0.8) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight:bold;
}
.header-tutorial .button:after{
  left: 0px !important;
  bottom: 7px !important;
  top: 0px !important;
  right: 0px !important;
}
.slider-pager{
  position: absolute !important;
  width: auto !important;
  bottom:17px !important;
  z-index: 10 !important;
  left: 50%;
  transform: translate(-50%, 0%);
}
.slider-pager .slider-pager-page{
  color:rgba(100,100,100,1) !important;
}
.slider-pager .slider-pager-page.active .icon.ion-record::before{
  background: rgba(0,0,0,0.3) !important;
  background-image: -webkit-linear-gradient(-45deg, rgba(227,43,141,0.5) 0%, rgba(235,30,204,0.5) 20%, rgba(211,19,240,0.5) 40%, rgba(43, 64, 219,0.8) 75%, rgba(7, 35, 242,0.8) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.background-box{
  height: 100%;
  background-color: black;
}
.background-box .slider-pager{
display:none;
}
.login-background{
    background-size: auto 100%; 
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    opacity: 0.3;
}
.login-background1 {
    background-image: url('../img/bg1.jpg');
}
.login-background2 {
    background-image: url('../img/bg2.jpg');
}
.login-background3 {
    background-image: url('../img/bg3.jpg');
}
.centralizar{
    text-align: center !important;
}
.gradient-primary{
  background: rgba(0,0,0,0.0) !important;
  background-image: -webkit-linear-gradient(-45deg, rgba(227,43,141,0.5) 0%, rgba(235,30,204,0.5) 20%, rgba(211,19,240,0.5) 40%, rgba(43, 64, 219,0.8) 75%, rgba(7, 35, 242,0.8) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.badge-gradient{
   color:white;
background-image: -moz-linear-gradient(-45deg, rgba(227,43,141,0.) 0%, rgba(235,30,204,0.) 11%, rgba(211,19,240,0.) 23%, rgba(62,39,194,0.) 75%, rgba(35,50,107,0.) 100%);
background-image: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(227,43,141,0.25)), color-stop(11%, rgba(235,30,204,0.25)), color-stop(23%, rgba(211,19,240,0.25)), color-stop(75%, rgba(43, 64, 219,0.4)), color-stop(100%, rgba(7, 35, 242,0.4)));
background-image: -webkit-linear-gradient(-45deg, rgba(227,43,141,1) 0%, rgba(235,30,204,1) 20%, rgba(211,19,240,1) 40%, rgba(43, 64, 219,1) 75%, rgba(7, 35, 242,1) 100%) !important;
background-image: -o-linear-gradient(-45deg, rgba(227,43,141,1) 0%, rgba(235,30,204,1) 11%, rgba(211,19,240,1) 23%, rgba(43, 64, 219,1) 75%, rgba(7, 35, 242,1) 100%) !important;
background-image: -ms-linear-gradient(-45deg, rgba(227,43,141,1) 0%, rgba(235,30,204,1) 11%, rgba(211,19,240,1) 23%, rgba(43, 64, 219,1) 75%, rgba(7, 35, 242,1) 100%);
background-image: linear-gradient(135deg, rgba(227,43,141,1) 0%, rgba(235,30,204,1) 11%, rgba(211,19,240,1) 23%, rgba(43, 64, 219,1) 75%, rgba(7, 35, 242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32b8d', endColorstr='#23326b', GradientType=1 );
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
.badge-outline{
  color:#aaa;
  border: 1px solid #aaa;
}
#map {
    display: block;
    width: 100%;
    height: 100%;
}
#error {
    text-align: center;
    font-size: 20px;
    color: white;
}
.cadastro-error {
    text-align: left;
    font-size: 12px;
    color: #333;
    margin: 0;
    margin-left: 5px;
}
.cadastro-errors{
    background-color: #e8abab;
    border-left: 5px solid #d63737;
    margin-left: 0px;
}
.title-cadastro-errors{
    font-size: 12px;
    margin: 0
}
label.item.has-error {
    border: 1px solid #fff;
  border-left: 0px solid #d63737;

  background-color: #f7d4d4;
}
.input-cadastro{
    margin-left: 0.5px;
}
.item-login input{
    border: 1px solid white;
    border-radius: 200px;
    background-color: #fff;
    margin: 0;
    margin-top: 0px; 
    height: 40px !important;
    padding-right: 0px;
}
.item-login{
    border: 0px;
    height: 60px !important;
    padding-left: 0px !important;
    background-color: transparent;
    max-width: 80%;
    margin-top: 0px;
}
.item_cpm{
    margin-bottom: 0px;
}
.item_cpm.activated{
  background-color: white !important;
}
.item_oferta{
    margin-bottom: 0px;
    padding: 10px !important;
}
.item_oferta.activated{
  background-color: white !important;
}
.item_ofertas{
    margin-bottom: 0px;
    background-color: #ddd!important;
    padding: 10px !important;
}
.ofertaAberta,
.item_ofertas.activated{
  background-color:#bbb !important;
}

.button-oferta{
  float:right;
  line-height: 30px !important;
  min-height: 30px;
  background: rgba(30,30,30,1) !important;
background-image: -moz-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,0,71,0.5)), color-stop(100%, rgba(44,52,199,0.5)));
background-image: -webkit-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -o-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -ms-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32b8d', endColorstr='#23326b', GradientType=1 );
}
.tabs{
    background: #fff;
    border-top: 0px solid #fff;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
}
.tab-item{
    color:#555;
    background-color: transparent;
    border: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  font-weight:bold;
  
}
.tab-item.tab-item-active {

    position: relative;
    overflow: hidden;
    border: 0px;
    color:black;
  opacity: 1;
  background: -webkit-linear-gradient(-45deg, rgba(235,30,204,1) 0px, rgba(7, 35, 242,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tabs-nice .tab-item-active .ion-ios-home::before,
.tabs-nice .tab-item-active  .ion-person::before,
.tabs-nice .tab-item-active .ion-pricetags::before{
  background: rgba(50,50,50,1);
  background-image: -moz-linear-gradient(-45deg, rgba(227,43,141,0.) 0%, rgba(235,30,204,0.) 11%, rgba(211,19,240,0.) 23%, rgba(62,39,194,0.) 75%, rgba(35,50,107,0.) 100%);
background-image: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(227,43,141,0.25)), color-stop(11%, rgba(235,30,204,0.25)), color-stop(23%, rgba(211,19,240,0.25)), color-stop(75%, rgba(43, 64, 219,0.4)), color-stop(100%, rgba(7, 35, 242,0.4)));
background-image: -webkit-linear-gradient(-45deg, rgba(227,43,141,0.8) 0%, rgba(235,30,204,0.8) 20%, rgba(211,19,240,0.8) 40%, rgba(43, 64, 219,0.8) 75%, rgba(7, 35, 242,0.8) 100%) !important;
background-image: -o-linear-gradient(-45deg, rgba(227,43,141,0.8) 0%, rgba(235,30,204,0.8) 11%, rgba(211,19,240,0.8) 23%, rgba(43, 64, 219,0.8) 75%, rgba(7, 35, 242,0.8) 100%) !important;
background-image: -ms-linear-gradient(-45deg, rgba(227,43,141,0.8) 0%, rgba(235,30,204,0.8) 11%, rgba(211,19,240,0.8) 23%, rgba(43, 64, 219,0.8) 75%, rgba(7, 35, 242,0.8) 100%);
background-image: linear-gradient(135deg, rgba(227,43,141,0.8) 0%, rgba(235,30,204,0.8) 11%, rgba(211,19,240,0.8) 23%, rgba(43, 64, 219,0.8) 75%, rgba(7, 35, 242,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32b8d', endColorstr='#23326b', GradientType=1 );
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item_cpm .spinner svg {
  width: 12px;
  height: 12px;
  padding: 0 !important;
  margin: 0 !important;
}
.pontos:after{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,.1)));
    background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,.1) 100%);
}
.modal{
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    border-radius: 10px;
}
.modal-wrapper{
  position:absolute !important;
  width: 80%;
  height:50%;
  top:0 !important; 
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}
.modal-backdrop{
  background-color: rgba(0,0,0,0.2) !important;
}
.criar-rota{
    margin-top: 0 !important;
}
.frase-cadastrar{
    color: #fff;
    text-align: center;
}
.link-cadastrar{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.alert-box{
    position: relative;
    min-height: 100px;
}
.alert-msg{
    position: absolute;
    width:90%;
    height:auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login-box{
  position: relative;
}
.login-content{
  position: absolute;
    width:90%;
    vertical-align: middle;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.logo-nice{
  margin-bottom: 15%;
}
.login__submit {
  position: relative;  height: 3rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #FF3366;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition:0.3s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  
  background-color: rgba(33, 150, 243, 1);
    border-radius: 300px;
    width: 85%;
    padding: 0px;
    margin-top: 0px;
    color:white;
    border: 0px;
    
}
.login__submit:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.0rem;
  margin-top: -1.0rem;
  width: 2rem;
  height: 2rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity 0.1s 0.4s;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
}
.login__submit.processing {
  width: 3rem;
  font-size: 0;
}
.login__submit.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
          animation: rotate 0.5s 0.4s infinite linear;
}
.login__submit.success {
    z-index: 99;
  -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
          transform: scale(30);
  opacity: 1;
  
}
.login__submit.success:after {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
.box-contdown-quiz{
  text-align: center;
  margin-top: 5px;
}
.contdown-quiz{
  font-size: 1.2rem;
}
.box_avatar{
  border-radius: 50%;
  position: relative; 
  box-shadow: 0px 5px 25px rgba(0,0,0,0.8);
  float: center; 
  width: 27vw; 
  height: 27vw;
}
.img_avatar{
  border-radius: 50%;
  width: 100%; 
  height: 100%;
  opacity:1;
  width: 26vw; 
  height: 26vw;
  border:1.5vw solid rgba(255,0,71,0.2);

  box-shadow: 0px 5px 25px rgba(0,0,0,0.8);
}
.nm_perfil{
  margin-top: 0;
  opacity:0.8;
  font-size: 1.2rem;
  color: #ccc;
}
.email_perfil{
  color: #aaa;
  opacity:0.8;
}
.box-info-perfil{
  background-image: url('../img/bg-perfil.jpg');
  background-size: 100% auto; 
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top;
  box-shadow: inset 0px -5px 10px rgba(20,20,20,1);
  border-bottom: 0px;
}
.config-perfil {
  padding-top: 7px;
  position: absolute;
  font-size:20px;
  right: 0;
  top: 0;
}
.item-config-perfil{
  line-height: 5px !important;
  min-height: 5px;
}
.item-sair-perfil{
  color: #ef4e3a !important;
}
.popover {
    height: auto !important;
}
.popover ion-content {
    top: 0;
    position: relative;
}
.config-perfil span {
  padding: 7px;
  color: #fff;
  cursor: pointer;
}
.add-photo{
  position: absolute;
  width: 10vw;
  height: 10vw;
  margin:0 50px 0 0px;
 z-index: 3;
  background-color: #268ce0;
  border-radius: 50%;
  overflow: hidden;
}
.add-photo input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 0px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.popup-container
{
}
.popup
{
  padding: 12px;
  border-radius: 10px !important;
}
.popup-head
{
}
.animated.modal.bounceIn.ng-leave {
    -webkit-animation-name:bounceOut;
    animation-name:bounceOut;
}
.popup-title
{
    color: #575757;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin: 0px 0;
    padding: 0;
}
.popup-body
{
    color: #797979;
    font-size: 16px;
    font-weight: 300;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal; 
}
.popup-buttons .button
{
    background-color: #8CD4F5;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px !important;
    margin: 0px 5px 0px 5px;
    cursor: pointer; 
}
.popup-buttons .button.activated
{
  background-color: #5dc2f1;
}
.button-gradient{
  background: rgba(30,30,30,1) !important;
background-image: -moz-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,0,71,0.5)), color-stop(100%, rgba(44,52,199,0.5)));
background-image: -webkit-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -o-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -ms-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32b8d', endColorstr='#23326b', GradientType=1 );
  color: white;
}
.button-gradient:hover,
.button-gradient:active,
.button-gradient:focus{
  background: rgba(0,0,0,0.8) !important;
  background-image: -moz-linear-gradient(-45deg, rgba(227,43,141,0.25) 0%, rgba(235,30,204,0.25) 11%, rgba(211,19,240,0.25) 23%, rgba(62,39,194,0.25) 75%, rgba(35,50,107,0.25) 100%);
  background-image: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(227,43,141,0.25)), color-stop(11%, rgba(235,30,204,0.25)), color-stop(23%, rgba(211,19,240,0.25)), color-stop(75%, rgba(43, 64, 219,0.4)), color-stop(100%, rgba(7, 35, 242,0.4)));
  background-image: -webkit-linear-gradient(-45deg, rgba(227,43,141,0.25) 0%, rgba(235,30,204,0.25) 20%, rgba(211,19,240,0.25) 40%, rgba(43, 64, 219,0.4) 75%, rgba(7, 35, 242,0.4) 100%) !important;
  background-image: -o-linear-gradient(-45deg, rgba(227,43,141,0.25) 0%, rgba(235,30,204,0.25) 11%, rgba(211,19,240,0.25) 23%, rgba(43, 64, 219,0.4) 75%, rgba(7, 35, 242,0.4) 100%) !important;
  background-image: -ms-linear-gradient(-45deg, rgba(227,43,141,0.25) 0%, rgba(235,30,204,0.25) 11%, rgba(211,19,240,0.25) 23%, rgba(43, 64, 219,0.4) 75%, rgba(7, 35, 242,0.4) 100%);
  background-image: linear-gradient(135deg, rgba(227,43,141,0.25) 0%, rgba(235,30,204,0.25) 11%, rgba(211,19,240,0.25) 23%, rgba(43, 64, 219,0.4) 75%, rgba(7, 35, 242,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32b8d', endColorstr='#23326b', GradientType=1 );
  transform: scale(1.1);
}
.button-red{
  background-color: rgba(239, 78, 58,0.7) !important;
}
.button-red:hover,
.button-red:active,
.button-red:focus{
  background-color: rgba(239, 78, 58,1) !important;
  transform: scale(1.1) !important;
}
.button-blue{
  background-color: #8CD4F5;
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px !important;
    margin: 0px 5px 0px 5px;
    cursor: pointer; 
}
.button-blue:hover,
.button-blue:active,
.button-blue:focus{
  background-color: #5dc2f1;
  transform: scale(1.1) !important;
}
.am-fade-and-scale{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards}.am-fade-and-scale.ng-enter,.am-fade-and-scale.am-fade-and-scale-add,.am-fade-and-scale.ng-hide-remove,.am-fade-and-scale.ng-move{-webkit-animation-name:fadeAndScaleIn;animation-name:fadeAndScaleIn}.am-fade-and-scale.ng-leave,.am-fade-and-scale.am-fade-and-scale-remove,.am-fade-and-scale.ng-hide{-webkit-animation-name:fadeAndScaleOut;animation-name:fadeAndScaleOut}.am-fade-and-scale.ng-enter{visibility:hidden;-webkit-animation-name:fadeAndScaleIn;animation-name:fadeAndScaleIn;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-scale.ng-enter.ng-enter-active{visibility:visible;-webkit-animation-play-state:running;animation-play-state:running}.am-fade-and-scale.ng-leave{-webkit-animation-name:fadeAndScaleOut;animation-name:fadeAndScaleOut;-webkit-animation-play-state:paused;animation-play-state:paused}.am-fade-and-scale.ng-leave.ng-leave-active{-webkit-animation-play-state:running;animation-play-state:running}@-webkit-keyframes fadeAndScaleIn{from{opacity:0;-webkit-transform:scale(0.7);transform:scale(0.7)}to{opacity:1}}@keyframes fadeAndScaleIn{from{opacity:0;-webkit-transform:scale(0.7);transform:scale(0.7)}to{opacity:1}}@-webkit-keyframes fadeAndScaleOut{from{opacity:1}to{opacity:0;-webkit-transform:scale(0.7);transform:scale(0.7)}}@keyframes fadeAndScaleOut{from{opacity:1}to{opacity:0;-webkit-transform:scale(0.7);transform:scale(0.7)}}
.btn {
  background: rgba(30,30,30,1) !important;
background-image: -moz-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,0,71,0.5)), color-stop(100%, rgba(44,52,199,0.5)));
background-image: -webkit-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -o-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: -ms-linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
background-image: linear-gradient(45deg,rgba(255,0,71,0.5) 0%,rgba(44,52,199,0.5) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32b8d', endColorstr='#23326b', GradientType=1 );
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.platform-android .bar .title{
  left: 0 !important;
  right: 0 !important;
}
.bar.bar-dark .title{
  left: 0 !important;
  right: 0 !important;
}
.tutorial-slide{
  height: 100%;
}
.has-tab{
  bottom: 49px !important;
}
.error-cupom-none{
  margin-top: -20px;
  text-align: center;
  color: #888;
  opacity: 0;
  transition:0.5s;
}
.error-cupom-block{
  padding-top: 10px !important;
  display: block !important;
  transition:0.5s;
  opacity: 1;
  text-align: center;
  color: #888;
}


/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}/*End of Zoom out Keyframes */

/*Style for the text*/
.text{
  color:red;
  font-weight:bold; 
}
.rota-box{
  position: absolute;
  background: #eee;
  border-radius: 3vw;
  top:5px;
  width: 80%;
  right: 10%;
  display: none;
  padding-left: 25px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}
.fecharRota{
  margin-left: -20px !important;
  margin: 3vw;
  float:left !important;
  color: black;
  opacity: 0.2;
  font-size: 19px;
  cursor: pointer;
}
.nm-ponto{
  position: relative;
  opacity: 0.7;
  background: -webkit-linear-gradient(-45deg, rgba(235,30,204,1) 0px, rgba(7, 35, 242,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight:bold;
  top: 2px !important;
}
.distanceRota{
  margin: 0;
  opacity: 0.5;
}

.rotaImg{
  width: 20px;
  cursor:pointer;
  background: white;
  opacity: 0.4;
  margin-right: 5px;
}
.rotaImg:hover,
.rotaImg:active,
.rotaImg:focus{
  opacity: 0.6;

}
.gm-style-iw + div {
  margin-top:-3px;
  zoom: 150%;
}
.rotaImgHelp{
  width: 30px;
  background: white;
  opacity: 0.4;
}
.color-gray{
  color:#aaa;
}
@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas.eot');
    src: url('fonts/Consolas.eot?#iefix') format('embedded-opentype'),
         url('fonts/Consolas.woff') format('woff'),
         url('fonts/Consolas.ttf') format('truetype'),
         url('fonts/Consolas.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }

.fontConsolas{
  font-family: 'Consolas';
}

.seeMore{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nice-logo-sobre{
  padding-top: 20px !important;
background: -webkit-linear-gradient(-45deg, rgba(235,30,204,0.5) 0px, rgba(7, 35, 242,0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.destaque-text-sobre{
  background: -webkit-linear-gradient(-45deg, rgba(235,30,204,0.8) 0px, rgba(7, 35, 242,0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-sobre{
  color:#666;
}
.testii,
.testii.activated{
  background: #ddd;
}
.nm_ponto_iw{
  text-align:center;
  font-size:20px;

}
